.container {
  font-family: Alegreya, Merriweather, Lora, 'Noto Serif', serif;
  width: 90%;
  max-width: 700px;
  margin: auto;
}
/*
details {
	cursor: pointer; 
}*/

summary {
	/*background-color:white;*/
	outline:none;
	border-bottom:0.1em dashed #d0c8c6;
	font-size:120%;
	cursor: pointer; 
}

header{
	font-size:80%;
}

main {
  padding: 1em;
}

address { 
  font-style: normal;
}

a, a:hover, a:active {
  color: #7bbda4;
}
a:visited {
  color: #a89bb9;
}

body {
  background: #f5eeeb;
  color: #645240;
}
