.container {
  font-family: Alegreya, Merriweather, Lora, 'Noto Serif', serif;
  width: 90%;
  max-width: 750px;
  margin: auto;
  padding-top: 2%;
}
/*
details {
	cursor: pointer; 
}*/

footer{
	float: right;
	font-size:85%;
}
summary {
	/*background-color:white;*/
	outline:none;
	border-bottom:0.1em dashed #d0c8c6;
	font-size:120%;
	cursor: pointer; 
}

header{
	font-size:80%;
}

main {
  /*padding: 1em;*/
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 5%;

}

address { 
  font-style: normal;
}

a, a:hover, a:active {
  color: #7bbda4;
}
a:visited {
  color: #a89bb9;
}

body {
  background: #f5eeeb;
  color: #645240;
}
